.form-container {
    padding: 5%;
    width: 50%;
    margin: auto;
}

.card-container {
    margin: 5%;
}

.form-container div {
    margin: 10px;
}

.form-container button {
    margin-top: 25px;
}

.buttons-container button {
    margin-right: 10px;
}

.site-url {
    color: #3B82F6;
    font-weight: 700;
}

.site-url:hover {
    transition: 0.5s;
    color: #0547b1;
}