.login-container {
    width: 50%;
}

.image-login {
    width: 100%;
}

.p-card {
    height: 100%;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.p-inputgroup {
    margin: 10px;
    width: 90%;
}

.buttons-container {
    display: flex;
    width: 90%;
    margin: 10px;
    justify-content: space-between;
}

.buttons-container h5 {
    color: rgb(88, 188, 255);
    cursor: pointer;
}