.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f6f8fa;
    border: solid 0.5px hsla(210,18%,87%,1); 
    width: 90%;
    height: 45%;
    border-radius: 10px;
}

.p-inputgroup {
    padding: 15px;
    width: 90%;
    margin: auto;
}

.form-container form {
    width: 100%;
    margin: 15px;
}

.buttons-container {
    width: 90%;
}

.buttons-container button {
    margin: 10px;
}